@model IEnumerable<Inveon.ADMIN.Models.ProductViewModel>
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>ÜRÜN LİSTESİ</b></h4>
                        <table id="datatable-colvid" class="table   table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Main  Image
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Barcode
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Record Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th style="width: 100px">
                                        <a href="/ekle" class="btn btn-default btn-md waves-effect waves-light" data-animation="fadein" data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Ürün Ekle</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @foreach (var image in item.MediaList)
                                            {
                                                <img src="@image.Path" class="thumb-sm" alt="">
                                             
                                            }
                                        </td>

                                        <td>
                                            <span>
                                                @item.Name
                                            </span>

                                        <td>
                                            <span>
                                                @item.Description
                                            </span>
                                        </td>

                                        <td>

                                            <span>
                                                @item.Barcode
                                            </span>

                                        </td>
                                        <td>
                                            <span>
                                                ₺ @item.Price
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                @item.Quantity
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                @item.RecordDate
                                            </span>
                                        </td>

                                        <td>
                                            <span class="label label-@(item.RecordIsDeleted ? "danger" : "success")">@(item.RecordIsDeleted ? "Pasif" : "Aktif")</span>
                                        </td>
                                       <td></td>
                                    </tr>
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>